node_modules/
lambda/
.env
manmachine-bd039-firebase-adminsdk-odse0-51d98f4290.json
package-lock.json
generate.js
server.md
README.md

manmachine-bd039-firebase-adminsdk-odse0-51d98f4290.json
env.json
lambda/env.json
